# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry
.ansible/
ansible.log
.gitkeep

# Secrets / env (uncomment if you use them)
.env
*.pem
group_vars/

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo
*~
