---
- name: Disable swap
  command: swapoff -a
  ignore_errors: yes

- name: Comment swap in fstab
  replace:
    path: /etc/fstab
    regexp: '^([^#].* swap .*)$'
    replace: '# \1'

- name: Enable IP forwarding
  copy:
    dest: /etc/sysctl.d/k8s.conf
    content: |
      net.ipv4.ip_forward = 1

- name: Apply sysctl
  command: sysctl --system
